---
import "../styles/global.css";
const pageTitle = "Paguina de inicio";
---

<div id="container">
	<h1>{pageTitle}</h1>
	<a href="/">Inicio</a>
	<a href="/about/">Sobre mi</a>
	<a href="/blog/">Blog</a>
</div>

<style>

</style>
